@model Cookbook.Common.Models.Recipe

@using (Html.BeginForm("CreateRecipe", "Recipes", FormMethod.Post, new
{
    @class = "form-horizontal",
    role = "form"
}))
{
    <h4>Create new Recipe</h4>

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @Id = "name" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description.Text, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Description.Text, new { @class = "form-control", @Id = "Desctiption"})
        </div>
    </div>
    
    @for (var i = 0; i < Model.CookBookItems.Count(); i++)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.CookBookItems[i].Ingredient.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.CookBookItems[i].Ingredient.Name, new { @class = "form-control", @Id = "Item_" + i})
            </div>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(m => m.CookBookItems, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.CookBookItems, 
                        new SelectList(ViewBag.Ingredients), 
                        "Select Ingredient")
        </div>
        <div class="col-md-10">
             @Html.TextBoxFor(m => m.CookBookItems, new { @class = "form-control", @Id = "Item_"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <button type="submit" class="btn btn-dark">Create Recipe</button>
        </div>
    </div>
}