@using Cookbook.Common
@using CookBook.WebPage.Constants
@model CookBook.WebPage.Models.RecipeViewModel

<style type="text/css">
    .add-ingredient-form {
        background-color:gray;
        border:2px solid;
    }
 </style>

@using (Html.BeginForm("CreateRecipe", "Recipes", FormMethod.Post, new
{
    @class = "form-horizontal",
    role = "form"
}))
{
    <h4 style = "display: inline-block">Create new Recipe</h4>  <button type="submit" class="btn btn-dark">+</button>

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @Id = "name" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @Id = "Desctiption"})
        </div>
    </div>
    <h4>Ingredients</h4>
    @foreach (var item in Model.CookBookItems)
    {
        <li>@item.Ingredient, @item.Quantity, @item.Unit, @item.Kcal100</li>
    }
}

@using (Html.BeginForm("AddIngredient", "Recipes", FormMethod.Post, new
{
    @class = "form-horizontal p-3 mb-2 bg-light text-dark add-ingredient-form",
    role = "form",
}))
{
    <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownList(@StringConstants.SelectedIngredientName, 
                        new SelectList(ViewBag.Ingredients), 
                        "Select Ingredient",
                        new {@name = "ingredient-creation-list"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
             @Html.TextBox(@StringConstants.SelectedQuantityName, "Quantity", new { @type = "number" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownList(@StringConstants.SelectedUnitName, 
                        new SelectList(Enum.GetNames(typeof(Unit))), 
                        "Select Unit")
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <button type="submit" class="btn btn-dark">Add Ingredient</button>
        </div>
    </div>
}